/* Common */

.end-button {
	font-weight: bold;
}

.button-green {
}

.button-green:hover {
}

.button-green:active {
}

.button-red {
}

.button-red:hover {
}

.button-red:active {
}


/* MainWindow */

.main-window .title-label {
	font-size: 18px;
	margin: 20px 0px;
}

.main-window .topbar {
	margin-bottom: 10px;
}

.main-window .topbar-button {
	border-radius: 0px;
	margin: 0px 10px;
}

.main-window .topbar-button-img {
}

.main-window .topbar-button-label {
	
}

.main-window .github-link {
	all: unset;
	color: inherit;
	margin: 3px;
}

.main-window .version-label {
	margin-left: 2px;
}

.main-window .mon-listbox {
}

.main-window .mon-item {
	margin: 8px 6px;
}

.main-window .mon-item-icon {
	margin-right: 20px;
}

.main-window .mon-item-label-box {

}

.main-window .mon-item-label {
	font-size: 16px;
	min-width: 130px;
}

.main-window .mon-item-sub-label {
	font-size: 12px;
	min-width: 130px;
}

.main-window .mon-settings {
	padding-left: 30px;
	padding-right: 30px;
}

.main-window .mon-settings .set-label {
	margin-left: 20px;
}

.main-window .mon-settings > * {
	margin-bottom: 5px;
}

.main-window .mon-settings > .end-button {
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

/* WallpaperWindow */

.wallpaper-window .side-panel {
	border-left: 1px solid grey;
	margin: 10px;
	padding: 20px;
}

.wallpaper-window .side-panel .wallpaper-name-label {
	font-size: 17px;
	font-weight: bold;
}
