<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>jszczerbinsky.lwp</string>

        <key>LaunchOnlyOnce</key>
        <true/>
        
        <key>RunAtLoad</key>
        <true/>

        <key>UserName</key>
        <string>{{user}}</string>

        <key>ProgramArguments</key>
        <array>
            <string>/opt/lwp/usr/bin/lwp</string>
        </array>
    </dict>
</plist>
