#include <winver.h>
#include <ntdef.h>

#define PROGRAM_VER "@PROGRAM_VERSION@"

id ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEOS                  VOS_NT
FILETYPE                VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
    BEGIN
			VALUE "Comments",         "Layered WallPaper"
			VALUE "CompanyName",      "Jakub Szczerbiński"
			VALUE "FileDescription",  "Layered WallPaper"
			VALUE "FileVersion",      PROGRAM_VER
			VALUE "InternalName",     "Layered WallPaper"
			VALUE "LegalCopyright",   "(c) 2022 Jakub Szczerbiński"
			VALUE "OriginalFilename", "lwp.exe"
			VALUE "ProductName",      "Layered WallPaper"
			VALUE "ProductVersion",	  PROGRAM_VER
    END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409,1200
	END
END